.admin {
  background-attachment: fixed;
}
.fa$ser {
  color: red;
}
.a\er {
  position: relative;
}
.34fasb {
  background-origin: padding-box;
}
. faser234 {
  transform: rotate();
}
.-faser {
  color: red;
}
.$faer909 {
  background: red;
}
./\-fas/\er234- {
  border: 1px solid red;
}
